.navbar a
{
    color: rgb(255, 255, 255);
}

.navbar a:hover
{
    color: rgb(255, 255, 255);
    color: #424242;
}

.txt
{
    text-shadow: 1px 1px 2px #424242;
}

.buttons-home
{
    position: relative;
    transform: translateX(-3000px);
    --delay: 1s;
    /* animation: 5s linear 1s anim; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: anim-1 var(--delay) ease-in-out calc( var(--delay) *  var(--count)  ) 1 forwards;
}

button .spans-button
{
    animation: light var(--delay) ease-in-out calc(var(--delay) + var(--delay) * var(--count)) 1 forwards;
}


.ritemed
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 5%;
    bottom: 25%;
    z-index: 4;
}



@keyframes anim-1
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes light
{
    0%
    {
        width: 0%;
    }
    100%
    {
        width: 100%;
    }
}

@keyframes anim-2
{
    0%
    {
        /* opacity: 0; */
        scale: 0;
    }
    75%
    {
        scale: 1.3;
    }
    100%
    {
        opacity: 1;
        transform: translateX(0);
        scale: 1;
    }
}




.QA-text
{
    transform: translateX(-3000px);
    animation: anim-1 1s ease-in-out 500ms 1 forwards;

}

.content-black--p--index
{
    opacity: 0;
    animation: anim-2 1s ease-in-out calc( var(--count) * 1s ) 1 forwards;

    /* animation: anim-2 var(--delay) ease-in-out calc(var(--delay) + var(--delay) * var(--count)) 1 forwards; */
}




@keyframes ritemed {
    0%
    {
        fill: transparent;
        stroke: none;
    }

    87%{
        fill: transparent;
        
    }
    100%
    {
        stroke:rgb(56, 255, 42);
        fill: rgb(31, 251, 15);
        stroke-dashoffset: 0;
    }
}

.check
{
    position: absolute;
    top: -50px;
    left: 128px;
    overflow: visible;
    z-index: 30;
     
}

.p1
{
    /* background-color: blue;
    mask: url(../../data/images/ritemed.svg) no-repeat center;
    --color: red; */
    fill: transparent;
 
    stroke-dasharray: 653;
    stroke-dashoffset: 653;
    animation: ritemed 2s ease calc( var(--count) * 1s ) forwards;

}