


@layer Desktop {

    .sidebar---archive>h2 {
        display: flex;
        flex-direction: column;
        padding: 30px;
        margin-left: 30px;
    }

    .sidebar-content---archive {
    }
}

.sidebar-content---archive {
    margin: 0;
}

section
{
    margin: 3%  !important;
}


@media screen and (min-width: 500px) {
    table {
        background-color: white;
        padding: 30px;
        text-align: center;
        border-collapse: collapse;
        border: 3px solid rgb(0, 0, 0);
    
        table-layout: fixed;
        margin: 20% 0;
        max-width: 90vw;
        color: black;
        align-self: center;
    
    }
    
    table {
        margin: 0px;
        background-color: black;
    }
    
    tr:first-of-type>th {
        background-color: rgb(232, 225, 225);
        /* border: 3px solid green; */
    }
    
    th,
    td {
        background-color: rgb(248, 244, 244);
        border: 1px solid rgb(84, 13, 13);
        width: fit-content;
        padding: clamp(5px, 10px, 20px);
    }
    
    caption {
        background-color: rgb(248, 244, 244);
        border-style: inset;
        padding: 20px;
        font-weight: bold;
        font-size: clamp(2rem, 0.5vw + 0.5rem, 4rem);
    
    }
    
    h2 {
        text-transform: uppercase;
    }
    
    p {
        margin: 20px 0;
        color: black;
    }
    
    section {
        margin: 20px 20%;
    }
    
    .section-table
    {
        margin: 20px -20%;
        display: flex;
       
        justify-content: center;
        /* min-width: 600px */
    };
    


    
}



.sp2 td:nth-of-type(2),
.sp1 td:nth-of-type(2),
.sp3 td:nth-of-type(1)
{
    text-align: left;
}

ul 
{
    justify-content: left;
    text-align: left;
    margin: 0;
    padding-left: 40px;
}

li 
{
    list-style-position: outside;
}

ul>li
{
    color: rgb(70, 70, 70)
}

a:hover
{
    cursor: pointer;
}

li.no-bullet::marker
{
    content: '- ';
}
