:root
{
    --button-home--padding: 10px 0;
    --button-home--border-radius: 23px;
    --logo-size: 200px;
}

*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;


    z-index: 0;
}


.banner{
    width: 100%;
    height: 100vh;

    background-size: cover;
    background-position: center;

}

.navbar
{
    width: 85%;
    margin: 0;
    padding: 5px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo
{
    max-width: var(--logo-size);
    cursor: pointer;

}

.logo:hover
{
    transform: scale(1.3);
}


.navbar ul li
{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
    font-size: 15px;
}

.navbar a
{
    text-decoration: none;
    color: #fff;
       color: rgb(185, 185, 185);
    text-transform: uppercase;
}

.navbar ul li::after
{
    content: '';
    height: 3px;
    width: 0%;
    background: #16c4b2;
    left: 0;
    bottom: -5px;
    position: absolute;
    transition: 0.65s;
;

}

.navbar ul li:hover::after
{
    width: 100%;
}

a:hover
{
    color: azure;
}

.content-black
{
    width: 100%;

    text-align: center;
    align-items: center;
    align-self: center;
    justify-self: center;

    color: rgb(255, 255, 255);

}

.content-black h1
{
    font-size: 50px;
    margin-top: 80px;
    text-transform: uppercase;
}

.content-black p
{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.buttons-home
{
    width: 200px;
    padding: var( --button-home--padding );
    font-weight: bold;
    text-align: center;
    margin: 20px 10px;
    border: 2px solid rgb(13, 255, 243);
    background-color: white;
    border-radius: var(--button-home--border-radius);
    color: white;
    background: transparent;
    position: relative;
    overflow: hidden;
}

.buttons-home:hover
{
    width: 200px;
    padding: var( --button-home--padding );
    text-align: center;
    margin: 20px 10px;
    border: 2px solid blue;
    background-color: rgb(144, 144, 144);
    border-radius: var(--button-home--border-radius);
    color: white;
    background: transparent;
    overflow: hidden;
    position: relative;
    border:none;
}

span.spans-button
{
    background: #009688;
    height: 100%;
    width: 0%;
    position: absolute;
    border-radius: var(--button-home--border-radius);
    left: 0;
    bottom: 0;
    text-transform: uppercase;
    transition: 0.45s;
    z-index: -1;

}

button:hover .spans-button
{
    width: 100%;
}
 
.content-black--p
{
    color:rgb(168, 166, 166);
}



.content-black--p-highlight
{
    color:rgb(206, 206, 206);
    background-color: rgb(0, 32, 16);
    padding:20px;
    border-radius: 25px;
    filter: drop-shadow( 10px 0 20px rgb(0, 92, 71)) invert( 85%);
}

body
{
    background-image: radial-gradient(rgb(118, 119, 90),rgb(34, 1, 72));
    object-fit: cover   ;
}


.guidelines--section-block
{
    margin: 50px 20%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
        rgba(0,0,0,0.75),
        rgba(0,0,0,0.75),
        url('data/images/QA.svg')
    );

    background: rgb(34, 7, 44);
    border: 2px inset rgb(9, 62, 27);
    border-top: 0px;
    border-radius: 10px;
}


.quotes--section-block
{
    margin: 50px 25%;
    display: flex;
    flex-direction: column;
}

a:not(.good)
{
    cursor: not-allowed
}

button.button--guidelines
{
    width:20%; align-self: center;
                    padding: 10px;
                    border-radius: 30px;
                    margin: 20px;
    min-width: 30%;
}

button.button--guidelines:hover
{
    width:20%; align-self: center;
    padding: 10px;
    border-radius: 30px;
    background-color: rgb(205, 165, 206);

}


.footer
{
    padding-top: 100px;
}




